<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-srict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: head('Professores')}"></head>
  <body>
  
  <header th:replace="~{fragmentos :: nav('Professores')}"></header>

  <div class="container">
	<table class="table">
  		<thead>
    		<tr>
      			<th scope="col">Id</th>
      			<th scope="col">Nome</th>
      			<th scope="col">Salário</th>
      			<th scope="col">Status</th>
      			<th scope="col"></th>
      			<th scope="col"></th>
      			<th scope="col"></th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr th:each="professor : ${professores}">
      			<th scope="row" th:text="${professor.getId()}"></th>
      			<td th:text="${professor.getNome()}"></td>
      			<td th:text="${professor.getSalario()}"></td>
      			<td th:text="${professor.getStatusProfessor()}"></td>
      			<td><a th:href="@{/professores/{professorId} (professorId = ${professor.getId()})}">Detalhes</a></td>
      			<td><a th:href="@{/professores/{professorId}/edit (professorId = ${professor.getId()})}">Editar</a></td>
      			<td><a href="">Deletar</a></td>
    		</tr>
  		</tbody>
	</table>
	<a href="/professores/new">Novo Professor</a>
  </div>
  </body>
</html>