<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-srict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Novo Professor</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
	<div class="container">
  		<div class="row">
    		<h1>Novo Professor</h1>
  		</div>
	
		<div class="container">
			<div class="row">
				<form th:object="${requisicaoNovoProfessor}" action="/professores" method="POST">
					<div class="mb-3">
						<label class="form-label">Nome</label>
						<input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{Nome}">
						<!-- 
						<input class="form-control" type="text" name="Nome">
						 -->
						<div class="invalid-feedback" th:errors="*{Nome}"></div>
						<br>
					</div>
					<div class="mb-3">
						<label class="form-label">Salario</label>
						<!-- 
						<input class="form-control" type="text" name="salario" >
						 -->
						<input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{Salario}" >
						<div class="invalid-feedback" th:errors="*{Salario}"></div>
						<br>
					</div>
					<div class="mb-3">
						<label class="form-label">Status</label>	
						<select class="form-select" th:field="*{StatusProfessor}">
							<option th:each="status : ${StatusProfessor}" th:value="${status}" th:text="${status}"></option>
						</select>
					</div>
					<button class="btn btn-primary" type="submit">Submeter</button>
					<a href="javascript:history.back()">Voltar</a>
				</form>
			</div>
		</div>  		
	</div>    
  </body>
</html>
